@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sample CI/CD app</h1>
    <p>Learn more about <a href="https://docs.microsoft.com/en-us/azure/devops/?view=azure-devops"> Azure DevOps</a>.</p>
</div>

<div>Graph API result</div>
<div>@ViewData["GraphApiResult"]</div>
